/* body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: rgb(235, 225, 225) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-size: 3rem;
  color: rgb(49, 42, 42);
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}
.text-container {
  padding-top: 1rem;
}


.text-container p {
  text-align: center;
  font-size: 20px;
}

.btn-primary {
  background-color: rgb(190, 216, 143);
  border-color: rgb(190, 216, 143);
  color: black
}

.btn-primary:hover {
  background-color: rgb(237, 198, 126);
  border-color: rgb(237, 198, 126);
  border-width: 4px;
  color:rgb(49, 42, 42)
}

hr {
 
  border-width: 3px;
  max-width: 80%;
}

.buffer {
  height: 5rem;
} */

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}
header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}
.bio {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
.portfolio {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}
.card {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  flex: 1;
  min-width: calc(50% - 10px);
  border-radius: 0.5rem;
}
@media (max-width: 600px) {
  .card {
    min-width: 100%;
  }
}
